## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Import Dataset with Orders and Products Combined

In [2]:
df_ords_prods_merge=pd.read_pickle(r'/Users/sportsfan922/Documents/InstacartBasketAnalysis1025/Prepared Data/df_ords_prods_merge_cust_col.pkl')

In [3]:
## See Heading
df_ords_prods_merge.head(10)

,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range,busiest_day,2busiest_slowest_days,Busiest_Period_Of_Day
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Regularly busy,Average Orders
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Least busy days,Average Orders
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Least busy days,Most Orders
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Least busy,Least busy days,Average Orders
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Least busy,Least busy days,Most Orders
5,5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Regularly busy,Average Orders
6,6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Busiest days,Most Orders
7,7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Busiest days,Most Orders
8,8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,Mid Range Product,Regularly busy,Busiest days,Most Orders
9,9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,Mid Range Product,Least busy,Least busy days,Average Orders

## Create Max Order Column:1st Step of How Many Customers are Loyal, Regular, or New

In [4]:
df_ords_prods_merge['max_order']=df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

## Create Column Based on Conditions: 2nd Step of Sorting Customers into Loyal, Regular, or New

In [5]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] >= 10) & (df_ords_prods_merge['max_order'] < 40), 'loyalty_flag'] = 'Regular Customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] < 10, 'loyalty_flag'] = 'New Customer'

## Getting Basic Stats for Customers with Different Levels of Loyalty

In [6]:
df_ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal Customer,10293434.0,10.388854,327.868933,1.0,4.2,7.4,11.2,99999.0
New Customer,5475359.0,13.208464,589.718828,1.0,4.2,7.4,11.3,99999.0
Regular Customer,16296611.0,12.616815,548.532165,1.0,4.2,7.4,11.3,99999.0

New Customers, on average, pay the highest price for a product, followed by regular and finally, loyal customers.

In [7]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices']<10, 'spending_flag']='Low Spender'
df_ords_prods_merge.loc[df_ords_prods_merge['prices']>=10, 'spending_flag']='High Spender'

In [8]:
## Check Spending Flag Counts
df_ords_prods_merge['spending_flag'].value_counts()

spending_flag
Low Spender     21760955
High Spender    10672075
Name: count, dtype: int64

In [9]:
## Recheck Headings
df_ords_prods_merge.head(10)

,Unnamed: 0_x,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range,busiest_day,2busiest_slowest_days,Busiest_Period_Of_Day,max_order,loyalty_flag,spending_flag
0,0,2539329,1,1,2,8,NaN,196,1,0,...,77,7,9.0,Mid Range Product,Regularly busy,Regularly busy,Average Orders,10,Regular Customer,Low Spender
1,1,2398795,1,2,3,7,15.0,196,1,1,...,77,7,9.0,Mid Range Product,Regularly busy,Least busy days,Average Orders,10,Regular Customer,Low Spender
2,2,473747,1,3,3,12,21.0,196,1,1,...,77,7,9.0,Mid Range Product,Regularly busy,Least busy days,Most Orders,10,Regular Customer,Low Spender
3,3,2254736,1,4,4,7,29.0,196,1,1,...,77,7,9.0,Mid Range Product,Least busy,Least busy days,Average Orders,10,Regular Customer,Low Spender
4,4,431534,1,5,4,15,28.0,196,1,1,...,77,7,9.0,Mid Range Product,Least busy,Least busy days,Most Orders,10,Regular Customer,Low Spender
5,5,3367565,1,6,2,7,19.0,196,1,1,...,77,7,9.0,Mid Range Product,Regularly busy,Regularly busy,Average Orders,10,Regular Customer,Low Spender
6,6,550135,1,7,1,9,20.0,196,1,1,...,77,7,9.0,Mid Range Product,Regularly busy,Busiest days,Most Orders,10,Regular Customer,Low Spender
7,7,3108588,1,8,1,14,14.0,196,2,1,...,77,7,9.0,Mid Range Product,Regularly busy,Busiest days,Most Orders,10,Regular Customer,Low Spender
8,8,2295261,1,9,1,16,0.0,196,4,1,...,77,7,9.0,Mid Range Product,Regularly busy,Busiest days,Most Orders,10,Regular Customer,Low Spender
9,9,2550362,1,10,4,8,30.0,196,1,1,...,77,7,9.0,Mid Range Product,Least busy,Least busy days,Average Orders,10,Regular Customer,Low Spender

## Order Frequency (Places Customers in Groups Based on How Long it Has Been Since They Placed an Order)

In [10]:
df_median=df_ords_prods_merge['days_since_prior_order'].median()

In [11]:
df_ords_prods_merge.loc[df_ords_prods_merge['days_since_prior_order']>20, 'Order_Flag']='Non Frequent Customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['days_since_prior_order'] > 10) & (df_ords_prods_merge['days_since_prior_order'] <= 20), 'Order_Flag'] = 'Regular Customer'
df_ords_prods_merge.loc[df_ords_prods_merge['days_since_prior_order']<10, 'Order_Flag']= 'Frequent Customer'

In [12]:
## Value Counts of Order Frequency Flags
df_ords_prods_merge['Order_Flag'].value_counts()

Order_Flag
Frequent Customer        18090867
Regular Customer          6061112
Non Frequent Customer     5234964
Name: count, dtype: int64

## What is the Median Number of Days That a Customer Waits Between Orders For Frequent Customers (Less than 10 Days), Non Frequent Customers (More than 20 Days), and Regular Customers (Between 11 and 20 Days)

In [13]:
## Regularity of User Ordering Behavior According to Median Method
df_ords_prods_merge.groupby('Order_Flag').agg({'days_since_prior_order': ['median']})

                      days_since_prior_order
                                      median
Order_Flag
Frequent Customer                        6.0
Non Frequent Customer                   30.0
Regular Customer                        14.0

In [ ]:
df_ords_prods_merge.groupby('department_id').mean()

In [ ]:
df_ords_prods_merge.to_pickle(r'/Users/sportsfan922/Documents/InstacartBasketAnalysis1025/Prepared Data/df_ords_prods_merge_order_flag_spending_flag.pkl')